/* create HandWiki simple buttons*/

.hwsimple {
  float: center; 
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.hwsimple .search-container {
    display: block;
    position: relative;
    white-space: nowrap;
}

.hwsimple input[type=text] {
  padding: 6px;
  margin-top: 6px;
  font-size: 1.1em;
  background-color: #ffffff;
  border: 1px solid #00304d;
 
}

.hwsimple .search-container button {
  margin-top: 4px;
  padding: 6px 20px;
  background-color: #009ffc; 
  color: #ffff;
  font-size: 1.1em; 
  border: 1px solid #00304d;
  cursor: pointer;
}

.hwsimple .search-container button:hover {
  border: 1px solid #00304d;
  background-color: #006199;
  color: #ffff;

}

@media screen and (max-width: 600px) {

  .hwsimple .search-container {
    float: none;
    display: block;
    text-align: left;
    width: 360px;
    margin: 0;
    padding: 14px;

  }
    .hwsimple input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 12px;
  }

   .hwsimple .search-container button {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 12px;
  }

   .hwsimple .search-container button {
     margin-top: 10px; 
  }

  .hwsimple input[type=text] {
    border: 1px solid #ccc;  
  }
}



/* #### Mobile Phones Portrait  #### */
@media (min-width: 320px) and (max-width: 480px) {

 .hwsimple .search-container {
    float: none;
    display: block;
    text-align: left;
    width: 300px;
    margin: 0;
    padding: 14px;

  }

   .hwsimple .search-container button {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px; 
    padding: 12px;
  }

}



.footer {
   position: relative;
   left: 0;
   margin-top: 50px;
   margin-bottom: 50px;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   font-size: 14px;
   line-height: 140%;

}

.footer a:link {
  color: #009ffc;
}
